<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sidebar Toggle</title>
</head>

<body>
    <div id="root">
        <div class="root-grid-container">
            <aside class="sidebar"></aside>
            <div class="navbar">
                <button id="toggle-sidebar" class="button">Toggle Sidebar</button>
            </div>
            <main class="container">
                <div class="content-grid">
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                </div>
            </main>
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>