* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  padding: 2rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 250px;
  margin-bottom: 1rem;
  border: 1px solid #000;
}

.slide {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #2885ef;
  transition: all 0.5s ease-in;
}

.number {
  margin: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  color: #fff;
}

.directions {
  display: flex;
  justify-content: space-around;
}

.left,
.right {
  border-radius: 4px;
  background-color: #aaa;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.red {
  background-color: rgba(255, 0, 0, 0.822);
}
.green {
  background-color: rgb(12, 134, 12);
}
.blue {
  background-color: rgb(60, 106, 186);
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in;
}
.reveal {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in;
}
