:root {
  --checkbox-checked-color: rgb(255, 21, 138);
}

@-webkit-keyframes draw-checkmark {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkmark {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes undraw-checkmark {
  100% {
    stroke-dashoffset: 150;
  }
}

@keyframes undraw-checkmark {
  100% {
    stroke-dashoffset: 150;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  margin: 20px;
}

.checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #c3c6d4;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.12s ease-in-out 0.1s;
}

/* initial state */
.option-button {
  display: flex;
  justify-content: unset;
  border-radius: 8px;
  margin: 8px;
  padding: 8px 8px 16px 8px;
  height: calc(100% - 16px);
  width: 140px;
  border: 1px solid #c3c6d4;
  transition: all 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

.checkbox svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox path {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
}

.checked path {
  -webkit-animation: draw-checkmark 1.5s forwards;
  animation: draw-checkmark 1.5s forwards;
}

/* transformed state */
.checkbox.checked {
  background-color: var(--checkbox-checked-color);
  border-color: var(--checkbox-checked-color);
  transition: stroke-dashoffset 1s ease;
}

.checked-container {
  border-color: var(--checkbox-checked-color);
}

.option-button:hover .checkbox,
.option-button:hover {
  border-color: var(--checkbox-checked-color);
}
