* {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

ul {
  background-color: #fff;
}

.submenu {
  display: none;
}

li:hover {
  background-color: #1796d1;
  cursor: pointer;
}
